In [1]:
import pandas as pd

In [2]:
doc = pd.read_csv(r'../Data Cleaning/Jie/doc_cleaned_dummie.csv')

In [9]:
doc['days_jail_doc'] = doc['days_jail_doc'].apply(lambda x: int(x.split('days')[0]))

In [13]:
del doc['Unnamed: 0']

In [19]:
doc.head()

,File,years_from_trial,days_jail_doc,County of Commitment_ALBANY,County of Commitment_ALLEGANY,County of Commitment_BRONX,County of Commitment_BROOME,County of Commitment_CATTARAUGUS,County of Commitment_CAYUGA,County of Commitment_CHAUTAUQUA,...,Race/Ethnicity_OTHER,Race/Ethnicity_WHITE,Race/Ethnicity_WHITE/HISPANIC,Sex_FEMALE,Sex_MALE,Status_DISCHARGED,Status_IN CUSTODY,Status_OUT TO COURT,Status_RELEASED,Status_TEMP RELEASE
0,2003_18061.htm.txt,0.046575,5796,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,2003_18063.htm.txt,0.016438,2830,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
2,2003_18089.htm.txt,0.005479,6125,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,0
3,2003_18259.htm.txt,0.054795,1066,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,2003_18267.htm.txt,0.063014,1762,0,0,0,0,0,0,0,...,0,0,1,0,1,0,1,0,0,0

In [15]:
original = pd.read_csv(r'finalized_Data.csv')

In [20]:
original.head()

,Unnamed: 0,File,elect,military,APD,Prof,female,CC,SC-AJ,SC,...,type_crime_welfare fraud,type_crime_nan,degree_crime_fifth,degree_crime_first,degree_crime_fourth,degree_crime_second,degree_crime_seventh,degree_crime_sixth,degree_crime_third,degree_crime_nan
0,0,2009_08295.htm.txt,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
1,1,2009_08317.htm.txt,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,2,2010_03986.htm.txt,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,3,2010_08289.htm.txt,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,4,2011_00826.htm.txt,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [21]:
del original['Unnamed: 0']

In [22]:
original.duplicated().any()

False

In [23]:
final_df = doc.merge(original, on = 'File', how = 'left')

In [25]:
final_df.to_csv(r'final_with_doc.csv',index=False)