The goal is to ensure university names are the same as in the judges file, so we can later use university as a common feature.

In [2]:
import pandas as pd

In [3]:
judge_universities = ['cuny', 'columbia', 'tulsa', 'syracuse', 
                      'brooklyn', 'sanfrancisco','unknown', 'pace', 
                      'cornell', 'akron', 'st.johns', 'nyu', 'fordham',
                      'widener', 'albany', 'gonzaga', 'touro', 
                      'buffalo', 'casewestern','suffolk', 'hofstra',
                      'harvard', 'westernnewengland', 'georgetown',
                      'cardoza', 'yale', 'georgewashington', 
                      'baltimore', 'colorado','delaware', 'toledo', 
                      'temple', 'villanova', 'rutgers',
                      'californiawestern', 'bostonu', 'michigan', 
                      'franklinpierce','newengland', 'stjohns', 
                      'capital', 'pugetsound', 'ohiostate',
                      'pittsburgh', 'william&mary', 'dayton', 
                      'johnmarshall', 'duke','vermont', 'penn', 
                      'kent', 'loyola', 'novase', 'bostonc', 
                      'boalt','catholic', 'valparaiso', 'seattle', 
                      'washington', 'st.thomas','maryland', 
                      'duquesne', 'memphis', 'clevelandst.', 
                      'howard','michiganst.', 'ohionorthern', 
                      'kentst.', 'washburn','thomascooley', 'emory', 
                      'virginia', 'clevelandmarshall','puertorico', 
                      'cal-hastings', 'antioch', 'dickenson', 
                      'georgia','hamline', 'johnjay', 'southtexas', 
                      'bostoncollege', 'wisconsin']

In [76]:
da_data = pd.read_csv('clean_DA.csv')

In [8]:
da_data.columns

Index(['Unnamed: 0', 'da_last_name', 'start year', 'left office', 'female',
       'black', 'county', '1976', '1977', '1978', '1980', '1981', '1982',
       '1983', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', 'university',
       'graduation', '1997-contested', '1999-contested', '2000-contested',
       '2001-contested', '2003-contested', '2004-contested', '2005-contested',
       '2007-contested', '2008-contested', '2009-contested', '2010-contested',
       '2011-contested', '2012-contested', '2013-contested', '2014-contested',
       '2015-contested'],
      dtype='object')

In [9]:
da_universities = da_data['university']

In [19]:
#Skip empty rows - missing university names
da_universities.dropna(inplace=True)

da_universities = da_universities.unique()

In [22]:
da_uni = list(entry.lower() for entry in da_universities)

In [23]:
da_uni

['albany',
 'syracuse',
 'pace',
 'howard',
 'nyu',
 'george washington',
 'tennessee',
 'buffalo',
 'vermont',
 'illinois',
 'creighton',
 'western new england',
 'fordham',
 'new england',
 'tulane',
 'washburn',
 'new hampshire',
 'rutgers',
 'pepperdine',
 'st. johns',
 'touro',
 'georgetown',
 'yale',
 'suffolk',
 'detroit',
 'boston college',
 'hofstra',
 'brooklyn',
 'harvard',
 'washington and lee',
 'penn state',
 'baltimore',
 'cornell',
 'university of pennsylvania']

In [34]:
#Remove spaces
univ = []

for uni in da_uni:
    ex_empty = "".join(uni.split())
    univ.append(ex_empty)

In [36]:
university_dict = {}
missing = []

for school in univ:
    if school in judge_universities:
        university_dict[school] = school
    else:
        missing.append(school)

In [37]:
missing

['tennessee',
 'illinois',
 'creighton',
 'tulane',
 'newhampshire',
 'pepperdine',
 'detroit',
 'washingtonandlee',
 'pennstate',
 'universityofpennsylvania']

In [38]:
#Find similar names from judges file
from difflib import get_close_matches

for school in missing:
    possibilities = get_close_matches(school, judge_universities)
    print(school, possibilities)

tennessee []
illinois []
creighton []
tulane ['tulsa']
newhampshire []
pepperdine []
detroit []
washingtonandlee ['washington', 'georgewashington']
pennstate ['penn']
universityofpennsylvania []

In [40]:
#I checked that Penn refers to University of Pennsylvania here
university_dict['universityofpennsylvania'] = 'penn'

In [41]:
missing.remove('universityofpennsylvania')

In [43]:
#update dictionary with missing calues
for value in missing:
    university_dict[value] = value

In [79]:
#Update da_universities list
universities = []
da_uni=da_data['university']

for college in da_uni:
    try: #if not empty
        
        college = college.lower()
        college = "".join(college.split())
    except AttributeError:
        college = 'unknown'
    universities.append(college)

In [81]:
#Create a list to match DA universities
final_list = []

for college in universities:
    try:
        name = university_dict[college]
    except KeyError:
        name = 'unknown'
    final_list.append(name)

In [83]:
#Add updated university names to dataframe
da_data.drop('university',axis=1, inplace=True)

In [84]:
da_data['university'] = final_list

In [85]:
da_data.head()

,Unnamed: 0,da_last_name,start year,left office,female,black,county,1976,1977,1978,...,2007-contested,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested,university
0,0,Soares,2004.0,NaN,0,1,Albany,0,0,0,...,0,0,0,0,0,0,0,0,0,albany
1,1,Clyne,2000.0,2004.0,0,0,Albany,0,0,0,...,0,0,0,0,0,0,0,0,0,albany
2,2,Greenberg,1974.0,2000.0,0,0,Albany,0,0,1,...,0,0,0,0,0,0,0,0,0,albany
3,3,Slep,2011.0,NaN,0,0,Allegany,0,0,0,...,0,0,0,0,0,0,0,0,0,syracuse
4,4,Parker,1997.0,2010.0,0,0,Allegany,0,0,0,...,0,0,1,0,0,0,0,0,0,pace

In [87]:
da_data.to_csv('clean_DA.csv')