In [1]:
import pandas as pd

In [2]:
judge_index = pd.read_csv(r'csv/judge_index.csv')

In [3]:
judge_info = pd.read_csv(r'csv/judges_final.csv')

In [4]:
judge_index.head()

   Unnamed: 0                File First_Name  Last_Name
0           0  2009_08295.htm.txt      peter  broderick
1           1  2009_08296.htm.txt    michael      dwyer
2           2  2009_08297.htm.txt     joseph      fahey
3           3  2009_08298.htm.txt     angelo  morinello
4           4  2009_08311.htm.txt     joseph      fahey

In [9]:
judge_index['File'].duplicated().any()

False

In [5]:
judge_info.head()

,Unnamed: 0,judges_last_name,judges_first_name,law school,grad year,elect,military,ADA,APD,Prof,...,2014,2015,2016,retired,arrested,lost-reelection,died,left,appointed-to-other-depart,contested
0,0,aarons,NaN,cuny,1989,0.0,0.0,0.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1,abdus-salaam,NaN,columbia,1977,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2,adams,NaN,tulsa,1977,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,5,adlerberg,NaN,brooklyn,1959,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
4,6,affronti,NaN,sanfrancisco,1963,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
judges_distinct_last_name = judge_info[judge_info['judges_first_name'].isnull()]
judges_same_last_name = judge_info[~judge_info['judges_first_name'].isnull()]

In [7]:
len(judges_same_last_name) + len(judges_distinct_last_name) == len(judge_info)

True

In [8]:
judges_same_last_name['judges_first_name'] = judges_same_last_name['judges_first_name'].apply(lambda x:x.strip())
judges_same_last_name['judges_last_name'] = judges_same_last_name['judges_last_name'].apply(lambda x:x.strip())
judges_distinct_last_name['judges_last_name'] = judges_distinct_last_name['judges_last_name'].apply(lambda x:x.strip())

/Users/Stella/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/Stella/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/Stella/miniconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Step1: Merge by last name, inner join

In [10]:
merge_1 = judge_index.merge(judges_distinct_last_name,left_on='Last_Name',right_on='judges_last_name',how = 'inner')

In [ ]:
judge_index2 = judge_index[~judge_index['File'].isin(merge_1['File'])]

    Step2: Merge by first name and last name, left join

In [12]:
merge_2 = judge_index2.merge(judges_same_last_name,left_on=['First_Name','Last_Name'],right_on=['judges_first_name','judges_last_name'],how = 'left')

In [15]:
len(merge_1) + len(merge_2) == len(judge_index)

True

In [16]:
merged = merge_1.append(merge_2)

In [19]:
merged.columns

Index(['Unnamed: 0_x', 'File', 'First_Name', 'Last_Name', 'Unnamed: 0_y',
       'judges_last_name', 'judges_first_name', 'law school', 'grad year',
       'elect', 'military', 'ADA', 'APD', 'Prof', 'female', 'CC', 'SC-AJ',
       'SC', 'SC-AJ & SC', 'start year', 'nycourts', 'ballotpedia', '1976',
       '1980', '1981', '1984', '1985', '1986', '1988', '1989', '1990', '1991',
       '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', 'retired',
       'arrested', 'lost-reelection', 'died', 'left',
       'appointed-to-other-depart', 'contested'],
      dtype='object')

In [20]:
del_column = ['Unnamed: 0_x','Unnamed: 0_y','judges_last_name','judges_first_name','ADA']

for col in del_column:
    del merged[col]

In [22]:
merged.head(10)

,File,First_Name,Last_Name,law school,grad year,elect,military,APD,Prof,female,...,2014,2015,2016,retired,arrested,lost-reelection,died,left,appointed-to-other-depart,contested
0,2009_08295.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2009_08317.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2010_03986.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010_08289.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011_00826.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2008_08801.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2008_08813.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2008_08827.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2008_08855.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2008_08936.htm.txt,peter,broderick,unknown,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
len(merged)

35232

In [24]:
merged.to_csv(r'csv/merged_judges.csv')