In [1]:
import pandas as pd

In [2]:
da = pd.read_csv('clean_DA.csv')

In [4]:
da.head(2)

,Unnamed: 0,da_last_name,start year,left office,female,black,county,1976,1977,1978,...,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested,Unnamed: 64,university
0,0,Soares,2004.0,NaN,0,1,Albany,0,0,0,...,0,0,0,0,0,0,0,0,NaN,albany
1,1,Clyne,2000.0,2004.0,0,0,Albany,0,0,0,...,0,0,0,0,0,0,0,0,NaN,albany

In [5]:
da.columns.values

array(['Unnamed: 0', 'da_last_name', 'start year', 'left office',
       'female', 'black', 'county', '1976', '1977', '1978', '1980',
       '1981', '1982', '1983', '1985', '1986', '1987', '1988', '1989',
       '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', 'graduation', '1997-contested',
       '1999-contested', '2000-contested', '2001-contested',
       '2003-contested', '2004-contested', '2005-contested',
       '2007-contested', '2008-contested', '2009-contested',
       '2010-contested', '2011-contested', '2012-contested',
       '2013-contested', '2014-contested', '2015-contested',
       'Unnamed: 64', 'university'], dtype=object)

In [10]:
years = da.iloc[:,8:47]

In [12]:
years.drop('2017',axis=1,inplace=True)

In [46]:
contested = da.iloc[:,49:-2]

In [50]:
def binary_to_categorical(df):
    '''
    Convert binary features into a single string entry
    '''
    
    num_entries = df.shape[0]
    output = []
    
    for i in range(num_entries):
        row = df.iloc[i,:]
        out_row = ','.join(row[row==1].index.tolist()).replace('-contested','')
        output.append(out_row)
        
    return output

In [43]:
years_cat = binary_to_categorical(years)

In [51]:
contested_cat = binary_to_categorical(contested)

In [54]:
da_feat = da[['da_last_name','start year','left office','female','black','county','university']]

In [58]:
da_out = pd.concat([da_feat,years],axis=1)

In [67]:
da_keys = pd.read_csv('da_last_name_dictionary.csv',names=['DA_name','da_last_name'])

In [69]:
merged = da_out.merge(da_keys, how='right',on='da_last_name')

In [73]:
merged.to_csv('DA_original_keys.csv')