In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'../Finalized Data/final_with_doc.csv')

In [5]:
df.head()

,File,years_from_trial,days_jail_doc,County of Commitment_ALBANY,County of Commitment_ALLEGANY,County of Commitment_BRONX,County of Commitment_BROOME,County of Commitment_CATTARAUGUS,County of Commitment_CAYUGA,County of Commitment_CHAUTAUQUA,...,type_crime_welfare fraud,type_crime_nan,degree_crime_fifth,degree_crime_first,degree_crime_fourth,degree_crime_second,degree_crime_seventh,degree_crime_sixth,degree_crime_third,degree_crime_nan
0,2003_18061.htm.txt,0.046575,5796,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,2003_18063.htm.txt,0.016438,2830,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2003_18089.htm.txt,0.005479,6125,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
3,2003_18259.htm.txt,0.054795,1066,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2003_18267.htm.txt,0.063014,1762,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [6]:
df.columns

Index(['File', 'years_from_trial', 'days_jail_doc',
       'County of Commitment_ALBANY ', 'County of Commitment_ALLEGANY ',
       'County of Commitment_BRONX ', 'County of Commitment_BROOME ',
       'County of Commitment_CATTARAUGUS ', 'County of Commitment_CAYUGA ',
       'County of Commitment_CHAUTAUQUA ',
       ...
       'type_crime_welfare fraud', 'type_crime_nan', 'degree_crime_fifth',
       'degree_crime_first', 'degree_crime_fourth', 'degree_crime_second',
       'degree_crime_seventh', 'degree_crime_sixth', 'degree_crime_third',
       'degree_crime_nan'],
      dtype='object', length=427)

In [10]:
#delete all judges missing column
for col in df.columns:
    if 'judge' in col and 'missing' in col:
        del df[col]

In [11]:
df.shape

(2324, 415)

In [14]:
df.to_csv(r'doc_without_judge_missing.csv',index=False)